{#

Description text for the jQuery Example.

#} {% set js_example = path('js_example.code_pen_example') %} {% trans %} <p>
<h1 style="color:green">Welcome To JQuery Demo</h1>
</p>
<p>
<h3 style="color:cyan">Hide the paragraph text using jquery</h3>
</p>
<ol>
  <li>
    <p>
      <a href={{ js_example }}>Open the JS example Here</a>: This demonstrates calling a jquery function using Drupal rendering system.
  </li>
</ol> {% endtrans %}